---
import SectionHeader from "./SectionHeader.astro";
import { about, type Link, type Paragraph, type Segment } from "@personal/data";

const linkClass =
  "font-medium text-slate-900 hover:text-sky-400 dark:text-slate-200 dark:hover:text-sky-300";
---

<section
  id="about"
  class="mb-16 scroll-mt-16 md:mb-24 lg:mb-36 lg:scroll-mt-24"
  aria-label="About Me"
>
  <SectionHeader title="About" />
  {
    about.map((paragraph: Paragraph) => (
      <p class="mb-4">
        {paragraph.map((segment: Segment) =>
          typeof segment === "string" ? (
            segment
          ) : (
            <a
              href={(segment as Link).url}
              class={linkClass}
              rel="noopener noreferrer"
              target="_blank"
            >
              {segment.label}
            </a>
          ),
        )}
      </p>
    ))
  }
</section>
