<footer class="max-w-md pb-16 text-sm text-slate-400 sm:pb-0">
  <p>🤖 No agents were <s>harmed</s> used in the creation of this site.</p>
  <p>
    Built with
    <a
      href="https://astro.build"
      class="font-medium text-slate-800 hover:text-sky-400 focus-visible:text-slate-900 dark:text-slate-300 dark:hover:text-sky-300 dark:focus-visible:text-sky-300"
      target="_blank">Astro</a
    >
    and
    <a
      href="https://tailwindcss.com"
      class="font-medium text-slate-800 hover:text-sky-400 focus-visible:text-slate-900 dark:text-slate-300 dark:hover:text-sky-300 dark:focus-visible:text-sky-300"
      target="_blank">TailwindCSS</a
    >, deployed with
    <a
      href="https://cloudflare.com"
      class="font-medium text-slate-800 hover:text-sky-400 focus-visible:text-slate-900 dark:text-slate-300 dark:hover:text-sky-300 dark:focus-visible:text-sky-300"
      target="_blank"
    >
      Cloudflare</a
    >, and lovingly crafted in
    <a
      href="https://neovim.io"
      class="font-medium text-slate-800 hover:text-sky-400 focus-visible:text-slate-900 dark:text-slate-300 dark:hover:text-sky-300 dark:focus-visible:text-sky-300"
      target="_blank">Neovim</a
    > (btw). ❤️
  </p>
</footer>
